{{!-- views/users/user-profile.hbs --}}

{{#if actualUser}}
  <h2>Welcome, {{ actualUser.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/userprofile">Reload the page</a>
  </button>
  <form id="logout-form" action="/logout" method="POST">
        <button>Logout</button>
  </form>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
